.sk-textinput.gb-commit-input
  input(type="text" placeholder="your message..." ng-model="commit.message")
  button(ng-click="changes.commit()") commit

div(ng-show="files.staged.length")
  h2 Staged
  gb-file-info(
    ng-repeat="file in files.staged"
    name="{{file.name}}"
    status="{{file.status}}"
  )
div(ng-show="files.unstaged.length")
  h2 Unstaged
  gb-file-info(
    ng-repeat="file in files.unstaged"
    name="{{file.name}}"
    status="{{file.status}}"
  )
div(ng-show="files.conflicted.length")
  h2 Conflicted
  gb-file-info(
    ng-repeat="file in files.conflicted"
    name="{{file.name}}"
    status="{{file.status}}"
  )

//- sk-checklist
//-   sk-checkitem(ng-repeat="file in files" selected="file.selected")
//-     gb-file-info(
//-       name="{{file.name}}"
//-       status="{{file.status}}"
//-     )
