.sk-textinput.gb-commit-input
  input(type="text" placeholder="your message..." ng-model="commit.message")
  button(ng-click="changes.commit()") commit

div(ng-show="files.staged.length")
  h2 Staged
  gb-file-status(
    ng-repeat="file in files.staged"
    file="{{file.file}}"
    label="{{file.label}}"
    type="staged"
  )
div(ng-show="files.unstaged.length")
  h2 Unstaged
  gb-file-status(
    ng-repeat="file in files.unstaged"
    file="{{file.file}}"
    label="{{file.label}}"
    type="unstaged"
  )
div(ng-show="files.conflicted.length")
  h2 Conflicted
  gb-file-status(
    ng-repeat="file in files.conflicted"
    file="{{file.file}}"
    label="{{file.label}}"
    type="conflicted"
  )
