.sk-textinput.gb-commit-input(ng-hide="rebasing")
  input(type="text" placeholder="your message..." ng-model="commit.message")
  button(ng-click="changes.commit()") commit

.sk-button-group(ng-show="rebasing")
  button(ng-click="changes.abort()") Abort
  button(ng-click="changes.skip()") Skip
  button(ng-click="changes.continue()") Continue

div(ng-show="changes.isClean()")
  | Working directory is clean.

div(ng-show="files.staged.length")
  h2 Staged
  gb-file-status(
    ng-repeat="file in files.staged"
    file="{{file.file}}"
    label="{{file.label}}"
    type="staged"
  )
div(ng-show="files.unstaged.length")
  h2 Unstaged
  gb-file-status(
    ng-repeat="file in files.unstaged"
    file="{{file.file}}"
    label="{{file.label}}"
    type="unstaged"
  )
div(ng-show="files.conflicted.length")
  h2 Conflicted
  gb-file-status(
    ng-repeat="file in files.conflicted"
    file="{{file.file}}"
    label="{{file.label}}"
    type="conflicted"
  )
