input(
  ng-model="searchCommit"
  type="search"
  placeholder="search in commits..."
)
.sk-list
  gb-commit(
    ng-repeat="commit in commits | filter:searchCommit"
    message="{{commit.message}}"
    date="{{commit.date}}"
    author="{{commit.author}}"
    hash="{{commit.hash}}"
  )
