input(type="search" placeholder="search in commits...")
.sk-list
  gb-commit(
    ng-repeat="commit in commits"
    message="{{commit.message}}"
    date="{{commit.date}}"
    author="{{commit.author}}"
    hash="{{commit.hash}}"
  )
