.sk-form

  h2 Appearence

  label Theme
  .sk-select
    select(
      ng-model="theme"
      ng-change="settings.update('theme', theme)"
      ng-options="t for t in themes"
    )
    span.icon-arrow-right
  label Menu buttons
  .sk-select
    select(
      ng-model="menuStyle"
      ng-change="settings.update('menuStyle', menuStyle)"
      ng-options="m for m in menuStyles"
    )
    span.icon-arrow-right

  h2 Files
  .sk-button-group
    button(ng-click="settings.openSettings()") open settings
    button(ng-click="settings.openGitignore()") open gitignore