extends /partials/layout.jade
block app
  sk-views
    sk-view(name="changes")
      #changes(
        ng-controller="ChangesCtrl as changes",
        ng-include="'templates/changes.html'"
      )
    sk-view(name="history")
      #history(
        ng-controller="HistoryCtrl as history",
        ng-include="'templates/history.html'"
      )
    sk-view(name="branches")
      #branches(
        ng-controller="BranchesCtrl as branches",
        ng-include="'templates/branches.html'"
      )
    sk-view(name="settings")
      #settings(
        ng-controller="SettingsCtrl as settings",
        ng-include="'templates/settings.html'"
      )
